@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

.hidden{
    display: none;
}

/* NAVIGATION */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    background-color: #786F9E;
    color: white;  
}

.logoContainer img{
    width: 3em;
}
nav{
    padding: 1em 0px;
}
nav a{
    margin: 0 10px;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover{
    color: #FFA629;
}

/* MAIN */
body{
    background-color: #413C58;
    color: white;
    display: flex;
    margin-top: 100px;

}

section{
    width: 100%;
    padding: 20px 100px;
}
/*=====> HOME PAGE <======*/
.searchSection{
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchSection h2{
    margin: 0 20px 20px;
}
.searchSection p{
    margin: 0 30px 10px;
}
.searchSection button{
    margin: 4em 0 0;
}

/*=====> EDIT DATA PAGE <======*/
.ChangeType{
    padding: 1em 40px 2em;
}
.dataInputSection{
    display: flex;
    justify-content: center;
    padding: 0 20px 0;
}
.dataInputSection label{
    margin: 25px 20px 0px;
    padding: 5px 10px;
}



/*=====> REFERENCE PAGE <======*/
.references {
    justify-content:left;
    align-items: center;
    font-size: 2em;
}

.references a{
    text-decoration: underline;
    font-size: 0.75em;
    margin: 0 10px;
    padding: 5px 10px;
    color: white;
}

/* TextBox */
input[type="text"]{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 20em;
    font-size: 1em;
    margin: 10px 20px 25px;
    padding: 0 20px;
    border-radius: 1em;
    border: none;
    background-color: #D5F0F0;
    color:#413C58;
}


/* BUTTONS */
button{
    padding: 10px 20px;
    margin: 10px;
    border: 2px dashed transparent;
    border-radius: 1em;
    height: 3.5em;
    cursor: pointer;
    background-color: #96E078;
    transition: 0.1s;
    font-weight: bold;
}

 button:hover{
    background-color: #FFA629;
}

.deleteToggle{
    background-color: #F24822;
    color: white; 
}

.deleteToggle.active{
    background-color: transparent;
    color:#F24822;
    border: 2px dashed #F24822;
}

.insertToggle.active{
    background-color: transparent;
    color: #96E078;
    border: 2px dashed #96E078;
}

.dataInputSection button{
    margin: 10px 20px 25px;
}
.DeleteButton{
    margin: 10px 20px 25px;
    background-color: #F24822;
    color: white;
}



